body{
    margin: 0;
    padding: 0;
    background-color: beige;

}
.navbar
{
    height: 13vh;
    text-align: center;
    padding-top: 30px;
    background-color: bisque;
  
}
table{
    width: 100vw;
}
thead tr {
    background-color: rgb(239, 195, 136);
}
th, td {
    border: 1px solid black;
    padding: 4px;
    
    text-align: left;
    
  }
